*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero{
    width: 100%;
    margin-top: 1vh;
    background-image: url("../assests/Images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
}



#hero>div{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#hero>div> h1 {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

#hero>div> h1 span:nth-child(2){
    color: #da3131;
    margin-top: -0.625rem;
}

#hero>div> p{
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

#hero>div>div {
    align-self: flex-start;
    display: flex;
    gap: 0.625rem;
}

@media screen and (max-width:1483.5px) {
    #hero>div{
        width: 40%;
    }
}

@media screen and (max-width:1338.5px) {
    #hero>div{
        width: 50%;
    }
}

@media screen and (max-width:1135.5px) {
    #hero>div{
        width: 60%;
    }
}

@media screen and (max-width:999.5px) {
    #hero>div{
        width: 70%;
    }
}

@media screen and (max-width:902.5px) {
    #hero>div{
        width: 80%;
    }
}

@media screen and (max-width:826.5px) {
    #hero>div{
        width: 90%;
    }
}

@media screen and (max-width:773.5px) {
    #hero>div{
        width: 100%;
    }
}

@media screen and (max-width:728.5px) {
    #hero{
        padding: 9rem;
    }
}

@media screen and (max-width:698.5px) {
    #hero{
        padding: 8rem;
    }
}

@media screen and (max-width:664.5px) {
    #hero{
        padding: 6rem;
    }
}

@media screen and (max-width:601.5px) {
    #hero{
        padding: 3rem;
    }
}

@media screen and (max-width:504.5px) {
    #hero{
        padding: 1rem;
    }
}