*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.review{
    padding: 2rem;
    background-color: #d5cccc;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    color: #2a2a2a;
}

.details{
    display: flex;
}

.details img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review-name{
    color:rgb(18, 17, 17);
}

.details img:hover, .review:hover{
    transform: scale(1.1);
}
