*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#second{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem;
    position: relative;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#second>div:nth-child(1), #second>div:nth-child(2){
    width: 50%;
    height: 100%;
}

#second>div:nth-child(2){
    background-color: #ebe9e9;
    width: 60%;
}

#second-content{
    position: absolute;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 94vw;
    gap: 4rem;
}

#second-content img{
    width: 50%;
}

#second-content div{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

@media screen and (max-width:800.5px) {

    #second{
        height: 150vh;
    }

    #second>div:nth-child(1), #second>div:nth-child(2){
        display: none;
    }

    #second-content{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 4rem;
    }

    #second-content img{
        width: 100%;
        margin-right: 0;
    }

    #second-content div{
        background-color: #ebe9e9;
        width: 100%;
        align-items: center;
        padding: 2rem;
    }
}
